@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1400px;
}


hr{
  width:100% ;
  height: 10px;
  font-size: 10px;
}
.component{
  background-image: url('../assets/images/tricycle.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}